altair
arrow
beautifulsoup4
ipywidgets
jupyter_server
jupyterlab
nltk
numpy
pandas
requests
sqlite_utils
textblob
tqdm
unicodecsv
voila
voila-material @ git+https://github.com/GLAM-Workbench/voila-material.git
wordcloud
trove-newspaper-harvester
datasette
jupyter-server-proxy
jupyter-archive
python-dotenv
scikit-learn
