altair
arrow
beautifulsoup4
ipywidgets
# To deal with https://github.com/jupyter-server/jupyter_server/issues/1038
jupyter-server<2.0.0
jupyterlab
nltk
numpy
pandas
requests
sqlite_utils
textblob
tqdm
unicodecsv
voila
voila-material @ git+https://github.com/GLAM-Workbench/voila-material.git
wordcloud
trove-newspaper-harvester
datasette
jupyter-server-proxy
jupyter-archive
python-dotenv
scikit-learn
