altair
arrow
beautifulsoup4
ipywidgets
jupyter-server
jupyterlab
nltk
numpy
pandas
requests
sqlite_utils
textblob
tqdm
unicodecsv
ipywidgets
voila
voila-material @ git+https://github.com/GLAM-Workbench/voila-material.git
wordcloud
datasette
datasette-media
datasette-json-html
jupyter-server-proxy
jupyter-archive
python-dotenv
scikit-learn
natsort
trove-newspaper-harvester